@{
    ViewData["Title"] = "Manual Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model manualAttendanceModel


<main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
        <!--begin::Container-->
        <div class="container-fluid">
            <!--begin::Row-->
            <div class="row">
                <div class="col-sm-6"><h3 class="mb-0">Manual Attendance</h3></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">General Form</li>
                    </ol>
                </div>
            </div>
            <!--end::Row-->
        </div>

    </div>





    <div class="app-content">

        <div class="container-fluid">

            <div class="row g-4">



                <div class="col-md-6">

                    <div class="card card-primary card-outline mb-4">

                        <div class="card-header"><div class="card-title">Manual Attendance</div></div>

                        <Form>

                            <div class="card-body">
                             
                              
                                <div class="mb-3">
                                    @* <label for="text" class="form-label">Select Staff</label> *@
                                    <div class="col-lg-12">
                                        <select class="form-control" id="val-skill" name="teacherId" onchange="this.form.submit()">

                                            <option value="0">Please Select Staff</option>
                                            @foreach (var attendanceManual in Model.manualAttendanceList)
                                            {
                                                <option value="@attendanceManual.teacherId" selected="@(attendanceManual.teacherId == Model.selectedTeacherId ? "selected" : null)">
                                                    @attendanceManual.teacherName
                                                </option>
                                                @* <option value="@courses.id">@courses.courseName</option> *@
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="=col-lg-12">
                                          <select id="inputState" class="form-control">
                                                    <option selected>Choose Status</option>
                                                    <option value="IN">In</option>
                                                    <option value="OUT">Out</option>
                                                    
                                                </select>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    @* <label for="staffName" class="form-label">Attendance Time</label> *@
                                    <input type="time" class="form-control" id="AttendanceInTime" name="OutEndTime" onfocus="this.showPicker()">
                                    
                                    </div>
                                </div>
                            
                            </Form>

                            <div class="card-footer">
                            <button type="submit" class="btn btn-primary" asp-action="AddManualAttendance" asp-controller="Staff">Submit</button>
                            </div>

                        </div>

                    </div>

                </div>

</main>